{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <!-- <div class="container"> -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Trackpacker</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if session.get('tokens') is none %}
                    <li><a href="{{ url_for('authorize') }}">Log in with Spotify</a></li>
                    {% else %}
                    <li>
                        <a href="{{ session.user.external_urls.spotify }}">
                            {{ session.user.display_name }}
                        </a>
                    </li>
                    {% if session.user.images | length > 0 %}
                    <li>
                        <a class="navbar-brand" href="{{ session.user.external_urls.spotify }}">
                            <img alt="avatar" style="border-radius: 50%; box-shadow: 0px 0px 2px 2px; max-width:100%; max-height:100%; display:block;" src="{{ session.user.images[0].url }}"></img>
                        </a>
                    </li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% endif %}
                </ul>
            </div>
        <!-- </div> -->
    </nav>
{% endblock %}

{% block content %}
    <div class="container" id="app-content-container">
    {% block app_content %}
    {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}