{% extends "base.html" %}

{% block app_content %}
    <h1>Home</h1>
    <p>Create a playlist with an exact length</p>

    {% with user = session.get('user') %}
    {% if user is none %}
        <a href="{{ url_for('authorize') }}" class="btn btn-primary">Log in with Spotify</a>
    {% else %}
        <p> 
        Logged in as <a href="{{ user.external_urls.spotify }}">
            {{ user.display_name }}</a>
        </p>

        <p>
            <a href="{{ url_for('generate') }}">Create playlist</a>
        </p>

        {% if playlist %}
            Last created:
            <a href="{{ playlist['external_urls']['spotify'] }}">
                {{ playlist['name'] }}
            </a> 

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <p>playlist tracks:</p>
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

        {% endif %}
    {% endif %}
    {% endwith %}
{% endblock %}

