{% extends "base.html" %}

{% block app_content %}
    <h1>Home</h1>
    <p>Create a playlist with an exact length</p>

    {% with user = session.get('user') %}
    {% if user is none %}
        <a href="{{ url_for('authorize') }}" class="btn btn-primary">Log in with Spotify</a>
    {% else %}
        <a href="{{ url_for('generate') }}" class="btn btn-primary">Create playlist</a>
        <p></p>
        {% if playlist %}
            Last created:
            <a href="{{ playlist['external_urls']['spotify'] }}">
                {{ playlist['name'] }}
            </a> (click to listen on Spotify)
        {% endif %}
        {% if playlist_tracks %}
        <p>Songs included:</p>
        <ul>
            {% for t in playlist_tracks %}
            <li>{{ t }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
    {% endwith %}
{% endblock %}